body {
    margin: 0 auto;
    font-family: 'Open sans', sans-serif;
    font-size: $font-size;
    padding-top: 2.25rem;
    
}


.site-header {
   background-color: $color__background-tint;
   // padding-top: $base__space-unit * 1.5;
}


.site-branding {
   background-color: $color__background-body;
   border-top: $base__border;
   padding: $base__space-unit 0;



    img {
    width: 300px;
    }
}


.site-branding-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include container;
    }


.social-container {

    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2rem;
    color: $color__brand-light-grey;

    i {
        padding-left: 2rem;
    }
}



.header-search {
    float: right;
    padding-top: 5px;
    display: flex;
    

    
}

.search-submit {
    background-color: white;
}


.hero {
    background: url(../../images/hero-bread.jpg) no-repeat center center;
    height: 550px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .hero-text {
        color:white;
        text-transform: uppercase;
        font-size: 6rem;
        font-family: $font-header;
    }   
}