
.logo {
	width: 300px;
    margin-left: 2.5%;
}

.site-header {
     border: 1px solid #e1e1e1;
     height: 118px;
     margin-top: $base__space-unit * 2;
    
}

.main-navigation {
     width: 100%;
     margin-top: $base__space-unit;
     border-bottom: 1px solid #e1e1e1;
}

.main-navigation li:first-child {
border-left: 1px solid #e1e1e1;
}

.main-navigation li {
     border-right: 1px solid #e1e1e1;
}

.main-navigation li a {
    padding: .75rem 1.5rem;
}

.header-search {
	float: right;
	border: 0;
}

.social {
    color: grey;
    float: left;
    margin-top: 0px;
    width:400px;
     i{
        padding-right: 1.5rem;
    }
    li {
        float: left;
        margin: 5px 0px;
        display:inline;
    }
    ul {
    list-style: none;
}
}

.social ul li {
    display: inline;
}