/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
		text-decoration: underline;
	}
}

/* Menus */

.main-navigation {
	background-color: white;
	border-top: $base__border;
	box-shadow: 0px 2px 3px 0px rgba(150, 150, 150, .25);
	clear: both;
	width: 100%;

	body:not(.home) & {
		border-bottom: $base__border;
	}

	.menu-main-navigation-container {
		float: left;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		border-right: $base__border;
		float: left;

		&:first-child {
			border-left: $base__border;
		}

		a {
			padding: ($base__space-unit / 2) $base__space-unit;
		}

		&:hover > a,
		&:focus > a {
			color: $color__brand-brown;
		}
	}

	a {
		color: $color__brand-med-grey;
		display: block;
		font-weight: bold;
		text-decoration: none;
	}

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor {

		&:after {
			content: "";
			background-color: $color__brand-red;
			display: block;
			height: 3px;
			margin-top: -3px;
			width: 100%;
		}

		& > a {
			color: $color__brand-brown;
		}
	}

	.header-search {
		float: right;
		padding-top: 5px;

		fieldset {
			border: 0;
			padding: 0;
		}

		label {
			display: inline;
			font-weight: normal;
			margin-bottom: 0;
		}

		input[type="search"],
		button {
			background-color: transparent;
			border: none;
			border-radius: 0;
			outline: 0;
		}

		button {
			color: $color__brand-med-grey;
			@include font-size(1);
			padding: 0;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
