/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.site-content {
	display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
.content-area {
	width: 73%;
	padding-right: 5%;
}
.widget-area {
	width: 27%;
	padding-left: 5%;
}
/* Front page */
