/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.container {
    @include container;

}

.site-content {
	
    display: flex;
    @include container;
}

.content-area  {
	width: 73%;
	padding-right: 5%;
	border-right: 1px solid #e1e1e1;
}


.widget-area {
	width: 27%;
	padding-left: 5%;
	
}

.entry-title {
	text-transform: uppercase;
	color: $color-brand-brown;
	text-align: center;
}

.page-header {
	text-align: center;
	h1 {
		text-transform: uppercase;
		line-height: 1.5rem;
		padding-top: 2rem;
	}
}
/*--------------------------------------------------------------
# Front page
--------------------------------------------------------------*/


.hero
{
background: url(../../images/hero-bread.jpg) center no-repeat;
  margin-bottom: 3rem;
  align-items: center;
  height: 550px;
  display: flex;
  justify-content: center;
  width: 100%;

.hero-text {
	color: $color__background-body;
    font-family: 'Overlock',sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1;
    margin: 0;
    text-shadow: 2px 1px 2px rgba(100,100,100,.75);
}

}



.call-to-action{
	background-color: #fafafa;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
    margin-bottom: 3rem;
   

    .btn {
    color: #fff;
    border: none;
    border-radius: 3px;
    background: #400c0d;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;

}

}




.product-blocks {
   display: flex;
   justify-content: center;
   align-items: center;
 li {
 	list-style: none;
 	padding-left: 1rem;
	padding-right: 1rem;
 }

	.product-wrapper{
		width: 25%;
		
       img {
	width: 90%;
      }
	}
}

.decorative {
    border: none;
    color: #e1e1e1;
    margin-bottom: 3rem;
    max-width: 320px;
    padding: 0;
    width: 50%;
    text-align: center;
    &::after {
    	background: 0 0;
	    content: '\f111';
	    display: inline-block;
	    font-family: FontAwesome;
	    font-size: 14.4px;
	    font-size: .9rem;
	    position: relative;
	    top: -.875em;
	    }
}


.latest-news {
	display: flex;
    justify-content: space-between;
    margin: 0 auto;

      li {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    flex: 1 0 25%;
    max-width: 300px;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    display: block;
    
}

}


	.post-info-wrapper{
		
		padding: .75rem;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    text-align: left;
		   a {
		   	text-decoration: none;
		   	font-size: 1rem;
		   	font-weight: bold;
		   }
		   .entry-meta {
		   	color: #a1a1a1;
            font-size: .9rem;
		   }
}

			.thumbnail-wrapper {
				height: 200px;
				overflow: hidden;
			    position: relative;
			    img {
			    	// left: 50%;
		    max-width: none;
		    position: absolute;
		    // top: 50%;
			    }
			}


/*--------------------------------------------------------------
# Products page
--------------------------------------------------------------*/

.product-grid {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 1.5rem;
    @include container;
    
        .product-grid-item {
        	width: 25%;
        	border: 1px solid #e1e1e1;
            margin-left: 0;
        padding-left: 0;
       
    	}

    	.product-info {
    	    padding-left: .25rem;
    	    padding-bottom: 1rem;
    	    margin-top: 1rem;
    	    background: #fff;
               &::before {
            float: left;
            width: 0;
            white-space: nowrap;
            content: "...................................................";
        }
	    }

	.price {
	    float: right;
	    padding-right: .25rem;
	    background: #fff;
	    padding-bottom: 1rem;
	    }
}

/*--------------------------------------------------------------
# About page
--------------------------------------------------------------*/
.about-block {
	display: flex;
    justify-content: space-between;

    h3 {
    color: #400c0d;
    font-size: 1.6rem;
    margin-bottom: 0;
    padding-bottom: 0;

}

}

.about-block-item {
flex: 0 1 47.5%;
}

.sub-head {
    color: #a1a1a1;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/


.widget
{
    margin: 0 0 1.5rem;

}

.widget_recent_entries {

    ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    a{  color: $color-brand-red;
            text-decoration: none;
        }
}
}

.widget_categories {

    ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    a{  color: $color-brand-red;
            text-decoration: none;
        }
}
}

.widget-area{

        h2{ text-transform: uppercase;
        font-size: 1.25rem;
            }

        p{
            font-size: 1rem;
        }
        a{  color: $color-brand-red;
            text-decoration: none;
        }
        i{
            color: $color-brand-medium-grey;
            padding-right: 0.5rem;
        }
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}}

.day-of-week {
	color: $color-brand-red;
	font-weight: bold;
}




/*--------------------------------------------------------------
# Product-type
--------------------------------------------------------------*/

.product-type-page-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px dashed $color-brand-light-grey;
    padding-bottom: 1.5rem;

    .page-title{
        text-transform: uppercase;
    }
    p{
        margin-bottom: 0;
        margin-top: 0;
    }
}


.product-menu-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed $color-brand-light-grey;
    padding-bottom: 1.5rem;

    a {
        color: $color-brand-red;
        text-decoration: none;
        font-size: 2rem;  
        text-transform: none;
         
          }
   a.hover {
    color: $color-brand-brown;
    text-decoration: underline;
  }


    .entry-title {
        text-align: left;
        padding-top: 0;
        margin-top: 0;


    }
    img{
        display: block;
    }
    .product-menu-info {
        display: block;
        padding: 0 1.5rem;

    }
    .price{
        margin: 0;
    }
    a{
        line-height: 1;
    }
}   

/*--------------------------------------------------------------
# Blog-archive
--------------------------------------------------------------*/

.blog {
    margin-top: 2rem;

    .entry-title {
    text-align: left;

    a {
        color: $color-brand-red;
        text-decoration: none;
        font-size: 1.8rem;  
        text-transform: none;
         
          }
   a.hover {
    color: $color-brand-brown;
    text-decoration: underline;
  }

}



}
/* Contact page title */

.contact-title {
    text-align: left;
}

/* testimonials */

.testimonials{
       
    img{
        height: 100px;
        width:100px;
        margin-right: 1.5rem;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        list-style: none;
    }
    li{
        width: 50%;
        padding: 1rem;
    }
    li:first-child, li:nth-child(3) {
        border-right: 1px dashed $color-brand-light-grey;
    }
    li:first-child, li:nth-child(2) {
        border-bottom: 1px dashed $color-brand-light-grey;
    }
    

}
.client_name{
        font-weight: bold;
    }