// Structure

$base__space-unit: 1.5rem;
$base__border: 1px solid #e1e1e1;
$base__border-dashed: 1px dashed #d2d2d2;

// Colors

$color__background-body: #fff;
$color__background-tint: #fafafa;
$color__text-main: #222;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__brand-light-grey: #a1a1a1;
$color__brand-med-grey: #808080;
$color__brand-dark-grey: #333;
$color__brand-near-black: #222;
$color__brand-brown: #400c0d;
$color__brand-red: #db272a;

$color__link: $color__brand-red;
$color__link-hover: darken($color__brand-red, 20%);

// Typography

$font__main: 'Open sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font-header: "overlock", "sans-serif";
$font-size: 16px;

